<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CrossBrowser/MultiBrowser</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>17/07/22 16:08:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;tc1_checkLoginAccount.before(java.lang.String)[pri:0, instance:test.tc1_checkLoginAccount@5b275dab]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/22 16:08:17</td>   <td>6677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc1_checkLoginAccount.checkLoginAccount()[pri:0, instance:test.tc1_checkLoginAccount@5b275dab]">checkLoginAccount</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/22 16:08:23</td>   <td>12792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc1_checkLoginAccount.after()[pri:0, instance:test.tc1_checkLoginAccount@5b275dab]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/22 16:08:24</td>   <td>13541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc2_checkReportIssue.before(java.lang.String)[pri:0, instance:test.tc2_checkReportIssue@61832929]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/22 16:08:36</td>   <td>25572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc2_checkReportIssue.reportIssue()[pri:0, instance:test.tc2_checkReportIssue@61832929]">reportIssue</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/22 16:09:08</td>   <td>57200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc2_checkReportIssue.after()[pri:0, instance:test.tc2_checkReportIssue@61832929]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/22 16:09:09</td>   <td>58122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc3_checkDeleteIssue.before(java.lang.String)[pri:0, instance:test.tc3_checkDeleteIssue@29774679]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/22 16:09:20</td>   <td>69815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc3_checkDeleteIssue.deleteIssue()[pri:0, instance:test.tc3_checkDeleteIssue@29774679]">deleteIssue</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/22 16:09:56</td>   <td>105536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc3_checkDeleteIssue.after()[pri:0, instance:test.tc3_checkDeleteIssue@29774679]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/22 16:09:57</td>   <td>106583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc4_searchForIssue.before(java.lang.String)[pri:0, instance:test.tc4_searchForIssue@3ffc5af1]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/22 16:10:09</td>   <td>118559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc4_searchForIssue.searchIssue()[pri:0, instance:test.tc4_searchForIssue@3ffc5af1]">searchIssue</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/22 16:10:30</td>   <td>139777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc4_searchForIssue.after()[pri:0, instance:test.tc4_searchForIssue@3ffc5af1]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/22 16:10:31</td>   <td>140667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc5_checkSignupNewAccount.before(java.lang.String)[pri:0, instance:test.tc5_checkSignupNewAccount@5e5792a0]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/22 16:10:37</td>   <td>146857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc5_checkSignupNewAccount.singUp()[pri:0, instance:test.tc5_checkSignupNewAccount@5e5792a0]">singUp</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/22 16:10:46</td>   <td>155372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc5_checkSignupNewAccount.after()[pri:0, instance:test.tc5_checkSignupNewAccount@5e5792a0]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/22 16:10:46</td>   <td>155668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc6_checkTheLostPassword.before(java.lang.String)[pri:0, instance:test.tc6_checkTheLostPassword@26653222]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/22 16:10:52</td>   <td>161540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc6_checkTheLostPassword.checkLostPass()[pri:0, instance:test.tc6_checkTheLostPassword@26653222]">checkLostPass</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/22 16:11:04</td>   <td>173530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc6_checkTheLostPassword.after()[pri:0, instance:test.tc6_checkTheLostPassword@26653222]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/22 16:11:04</td>   <td>173846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc7_getPermalink.before(java.lang.String)[pri:0, instance:test.tc7_getPermalink@3532ec19]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/22 16:11:16</td>   <td>185525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc7_getPermalink.creatPermalink()[pri:0, instance:test.tc7_getPermalink@3532ec19]">creatPermalink</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/22 16:11:23</td>   <td>192774</td> <td>&nbsp;</td><td title="&lt;&lt;tc7_getPermalink.after()[pri:0, instance:test.tc7_getPermalink@3532ec19]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/22 16:11:24</td>   <td>193788</td> <td>&nbsp;</td><td title="&gt;&gt;tc1_checkLoginAccount.before(java.lang.String)[pri:0, instance:test.tc1_checkLoginAccount@548e7350]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/22 16:11:31</td>   <td>200698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc1_checkLoginAccount.checkLoginAccount()[pri:0, instance:test.tc1_checkLoginAccount@548e7350]">checkLoginAccount</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/22 16:11:37</td>   <td>206396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc1_checkLoginAccount.after()[pri:0, instance:test.tc1_checkLoginAccount@548e7350]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/22 16:11:38</td>   <td>207037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc2_checkReportIssue.before(java.lang.String)[pri:0, instance:test.tc2_checkReportIssue@1a968a59]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/22 16:11:47</td>   <td>216150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc2_checkReportIssue.reportIssue()[pri:0, instance:test.tc2_checkReportIssue@1a968a59]">reportIssue</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/22 16:12:05</td>   <td>234022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc2_checkReportIssue.after()[pri:0, instance:test.tc2_checkReportIssue@1a968a59]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/22 16:12:05</td>   <td>234704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc3_checkDeleteIssue.before(java.lang.String)[pri:0, instance:test.tc3_checkDeleteIssue@4667ae56]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/22 16:12:14</td>   <td>243738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc3_checkDeleteIssue.deleteIssue()[pri:0, instance:test.tc3_checkDeleteIssue@4667ae56]">deleteIssue</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/22 16:12:50</td>   <td>279744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc3_checkDeleteIssue.after()[pri:0, instance:test.tc3_checkDeleteIssue@4667ae56]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/22 16:12:51</td>   <td>280789</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc4_searchForIssue.before(java.lang.String)[pri:0, instance:test.tc4_searchForIssue@77cd7a0]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/22 16:13:00</td>   <td>289853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc4_searchForIssue.searchIssue()[pri:0, instance:test.tc4_searchForIssue@77cd7a0]">searchIssue</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/22 16:13:22</td>   <td>311461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc4_searchForIssue.after()[pri:0, instance:test.tc4_searchForIssue@77cd7a0]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/22 16:13:23</td>   <td>312438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc5_checkSignupNewAccount.before(java.lang.String)[pri:0, instance:test.tc5_checkSignupNewAccount@204f30ec]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/22 16:13:26</td>   <td>315536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc5_checkSignupNewAccount.singUp()[pri:0, instance:test.tc5_checkSignupNewAccount@204f30ec]">singUp</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/22 16:13:35</td>   <td>323950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc5_checkSignupNewAccount.after()[pri:0, instance:test.tc5_checkSignupNewAccount@204f30ec]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/22 16:13:35</td>   <td>324153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc6_checkTheLostPassword.before(java.lang.String)[pri:0, instance:test.tc6_checkTheLostPassword@e25b2fe]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/22 16:13:38</td>   <td>327263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc6_checkTheLostPassword.checkLostPass()[pri:0, instance:test.tc6_checkTheLostPassword@e25b2fe]">checkLostPass</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/22 16:13:49</td>   <td>338740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;tc6_checkTheLostPassword.after()[pri:0, instance:test.tc6_checkTheLostPassword@e25b2fe]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/22 16:13:52</td>   <td>341146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;tc7_getPermalink.before(java.lang.String)[pri:0, instance:test.tc7_getPermalink@754ba872]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/22 16:14:00</td>   <td>349762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tc7_getPermalink.creatPermalink()[pri:0, instance:test.tc7_getPermalink@754ba872]">creatPermalink</td> 
  <td>main@121295574</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/22 16:14:08</td>   <td>357761</td> <td>&nbsp;</td><td title="&lt;&lt;tc7_getPermalink.after()[pri:0, instance:test.tc7_getPermalink@754ba872]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@121295574</td>   <td></td> </tr>
</table>
